<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests"  parallel="classes" thread-count="2" verbose="5">
  <test name="Test1">
      <groups>
          <run>
              <include name="smoke"></include>
              <include name="full"></include>
          </run>
      </groups>
    <classes>
        <class name="com.example.ShopPageTest"/>
       <class name="com.example.ShopPageLogin"/>
         <class name="com.example.HomePageTest"/>
    </classes>

  </test>
</suite>